@page "/"
<body>

    <!-- Start Header -->
    <section id="slide" class="slide background-withcolor">
        <div class="content-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6" data-aos="fade-right">
                        <h2>VitalMed Solutions</h2>
                        <p>
                            VitalMed Solutions is a remote Healthcare Monitoring where elderly can take care of their health condition at their finger tips
                        </p>
                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
                        <img src="bg-doc.png" class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Start Boxes -->
    <section id="boxes" class="boxes padding-100">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="box" data-aos="fade-up">
                        <div class="icon">
                            <span class="lnr lnr lnr-magic-wand"></span>
                        </div>
                        <div class="space-20"></div>
                        <h4>Healthcare</h4>
                        <div class="space-15"></div>
                        <p>Good resources of Doctor</p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon">
                            <span class="lnr lnr-rocket"></span>
                        </div>
                        <div class="space-20"></div>
                        <h4>Easy understand design</h4>
                        <div class="space-15"></div>
                        <p>Good and easy use of UI design</p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon">
                            <span class="fas fa-stethoscope"></span>
                        </div>
                        <div class="space-20"></div>
                        <h4>Always online</h4>
                        <div class="space-15"></div>
                        <p>24 hours online provinding helps</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Boxes -->
    <!-- Start Why Us -->
    <section id="about" class="why-us padding-100 background-fullwidth background-fixed "
             style="background-image: url(img/gray-bg.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center" data-aos="fade-right">
                    <img src="modelpic.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6" data-aos="fade-zoom-in" data-aos-delay="200">
                    <h3>Welcome to the HealthcareMonitoring System</h3>
                    <p>
                        VitalMed Solutions is a state-of-the-art health monitoring system, meticulously crafted to provide real-time health data tracking and analysis. Our system is tailored to meet the needs of both individuals seeking to maintain optimal health and medical professionals striving for excellence in patient care.
                    </p>
                    <div class="space-50"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="400">
                            <div class="why-us-icon">
                                <span class="fa fa-stethoscope" style="font-size:35px; color:#00cdcd"></span>
                                <p>
                                    Both patients and healthcare providers benefit from an intuitive interface, making health data accessible and understandable.
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="600">
                            <div class="why-us-icon">
                                <span class="fas fa-file-medical" style="font-size:35px; color:#00cdcd"></span>
                                <p>
                                    VitalMed Solutions excels in remote monitoring, making it ideal for patients in rural areas, the elderly, or those with mobility issues.
                                </p>
                            </div>
                        </div>
                        <div class="space-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="800">
                            <div class="why-us-icon">
                                <span class="fas fa-laptop" style="font-size:35px; color:#00cdcd"></span>
                                <p>
                                    Our advanced analytics engine uses AI to predict potential health risks, allowing for proactive rather than reactive healthcare.

                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="1000">
                            <div class="why-us-icon">
                                <span class="fas fa-heartbeat" style="font-size:35px; color:#00cdcd"></span>
                                <p>
                                    With VitalMed, vital signs like heart rate, blood pressure, and oxygen saturation are monitored continuously, offering immediate insights into your health status.
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<!-- End Why Us -->