@page "/services"

<PageTitle>Services</PageTitle>

<h1>Services</h1>

<p>Types of Services Available</p>


@code {
    //private int currentCount = 0;

    //private void IncrementCount()
    //{
        //currentCount++;
    //}
}
