@page "/TermsOfUse"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #013220;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #013220;
        }

        h2, h3 {
            color: #013220;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <header>
        <h1>Terms of Use</h1>
    </header>

    <section>
        <h2>Welcome to VitalMed Solutions</h2>
        <p>
            Please read these terms carefully before using our services. By accessing or using our services, you agree to comply with and be bound by these terms.
        </p>

        <h3>1. Acceptance of Terms</h3>
        <p>
            By using our services, you agree to be bound by these terms of use, all applicable laws, and regulations. If you do not agree with any part of these terms, you are prohibited from using or accessing our services.
        </p>

        <h3>2. Use License</h3>
        <p>
            Permission is granted to temporarily download one copy of the materials on VitalMed Solution's website for personal, non-commercial transitory viewing only.
        </p>

        <h3>3. User Account</h3>
        <p>
            To access certain features of our services, you may be required to create a user account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.
        </p>

        <h3>4. Prohibited Activities</h3>
        <p>
            You agree not to engage in any activity that disrupts or interferes with our services, including but not limited to hacking, spreading malware, or engaging in any unlawful activities.
        </p>

        <!-- Add more sections and points based on your clinic's terms -->

        <p>
            For any questions regarding our terms of use, please <a href="ContactUs">contact us</a>.
        </p>
    </section>
</body>
</html>
